
// Indent selected menu items
#sidebar .openstack-panel.active {
  margin-left: 15px;
}

// Squish accordian pills
#sidebar-accordion {
  a {
    background-color: $main-nav-bg-color;
    color: $main-nav-bg-color;
    padding: .4em 1.2em;
    background: transparent;
  }
  .panel > a{
    background: transparent;
  }
}

// Coloring of sidebar
#sidebar {

  // Header highlight color
  //.openstack-dashboard > a:hover,
  .openstack-dashboard > a:focus,
  li {
    background-color: $sidebar-background-color;
  }

  .nav-pills.nav-stacked {
    & > li {
      & > a {
        color: $windriver-white;
        background: $main-nav-bg-color;
      }
    }
  }

  // Dashboard headers
  #sidebar-accordion > li.panel > a{
    //font-size: 15px;
    border-radius: 9px;
    background-color: $windriver-lighter-gray;
  }

  // Panel group headers
  #sidebar-accordion li.openstack-panel-group > a {
    //font-size: 15px;
    color: $windriver-white;
    text-align: left;

    &:hover {
      background-color: transparent;
    }
  }

  // All links
  li.openstack-dashboard a.openstack-panel {
      color: $windriver-white;
      // Link on hover
      &:hover {
          color: $windriver-lighter-red;
          background-color: $sidebar-background-color;
      }
  }

  // Selected panel
  li.openstack-dashboard a.openstack-panel.active {
      color: $sidebar-active-color;
      background: $windriver-white;
      border-left: 2px;
      border-left-style: solid;
      border-left-color: $sidebar-active-color;
  }

}

#sidebar {
    float: none;
    display: table-cell;

    height: 100%;
    background-color: $sidebar-background-color;

    .branding {
        padding-bottom: 0px;
        padding-top: 0px;
        padding-left: 0px;
        text-align: center;

        /* vertical gradient (excluding IE9 and below - which clips the nav-tabs) */
        background-color: mix($brand-bg-color, $brand-bg-highlight, 60%); // Old Browswers
        background-image: -moz-linear-gradient(top, $brand-bg-color, $brand-bg-highlight); // FF 3.6+
        background-image: -ms-linear-gradient(top, $brand-bg-color, $brand-bg-highlight); // IE10
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from($brand-bg-color), to($brand-bg-highlight)); // Safari 4+, Chrome 2+
        background-image: -webkit-linear-gradient(top, $brand-bg-color, $brand-bg-highlight); // Safari 5.1+, Chrome 10+
        background-image: -o-linear-gradient(top, $brand-bg-color, $brand-bg-highlight); // Opera 11.10
        background-image: linear-gradient(top, $brand-bg-color, $brand-bg-highlight); // The standard
        background-repeat: repeat-x;

        .brand {
            background: none;
            padding-bottom: 0px;
            margin-top: 0px;

            a {
                float: none;
                color: $brand-text-color;
                text-indent: inherit;
                text-align: center;
                text-decoration: none;
                text-shadow: 2px 1px 15px #000;
                font-size: 20px;
                line-height: 20px;
                margin: 20px 0px 0px 0px;
                padding-top: 0px;
                padding-bottom: 0px;
                height: $brand-height;
                width: $brand-width;
            }
        }

        .system {
            width: $sidebar-width;
            overflow-wrap: break-word;
            text-align: center;
            color: $brand-text-color;
            padding-top: 0px;
            padding-bottom: 0px;
            margin-bottom: 10px;
            font-size: 15px;
        }
    }
}
