*.egg*
*.mo
*.pyc
*.sw?
*.sqlite3
*.lock
.environment_version
.selenium_log
.coverage*
.noseids
.DS_STORE
.DS_Store
/cover
coverage.xml
coverage-karma
nosetests.xml
pep8.txt
pylint.txt
# Files created by releasenotes build
.venv
.tox
node_modules
npm-debug.log
build
dist
AUTHORS
ChangeLog
tags
ghostdriver.log
.testrepository
.idea
.vscode
