{% extends "horizon/common/_modal_form.html" %}
{% load i18n horizon humanize %}

{% block form_id %}param_edit_form{% endblock %}
{% block form_action %}{% url 'horizon:admin:inventory:storages:lvg:edit' lvg.uuid key %}{% endblock %}


{% block modal_id %}param_edit_modal{% endblock %}
{% block modal-header %}{% trans "Edit Local Volume Group Parameter" %}{% endblock %}

{% block modal-body %}
<h4>{% trans "Local Volume Group" %}: {{ lvg.lvm_vg_name }}</h4>
{% if free_gib %}
<div class="quota-dynamic">
  <div class="quota_title clearfix">
    <strong>{% trans "Instances logical volume allocation" %}
    {% blocktrans with a=used_gib|intcomma b=total_gib|intcomma %}<p>{{ a }} GiB of {{ b }} GiB Used</p>{% endblocktrans %}</strong>
  </div>
  <div class="quota_title clearfix">
    <strong>{% trans "Volume group space available for instance disks" %}
    {% blocktrans with a=free_gib|intcomma b=total_gib|intcomma %}<p>{{ a }} GiB of {{ b }} GiB Free</p>{% endblocktrans %}</strong>
  </div>
  <div class="quota_title clearfix">
    <strong>{% trans "Acceptable instances logical volume size" %}
    {% blocktrans with a=allowed_min_gib|intcomma b=allowed_max_gib|intcomma %}<p>{{ a }} GiB to {{ b }} GiB</p>{% endblocktrans %}</strong>
  </div>
<hr>
{% endif %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h4>{% trans "Description " %}:</h4>
    <p>{% trans 'Update a parameter key-value pair for a Local Volume Group.' %}</p>
</div>
{% endblock %}

{% block modal-footer %}
  <a class="btn btn-default cancel" data-dismiss="modal">Cancel</a>
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Save" %}" />
{% endblock %}

