{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}assign_label_form{% endblock %}
{% block form_action %}{% url 'horizon:admin:inventory:assignlabel' host_id %}{% endblock %}

{% block modal-header %}{% trans "Assign Kubernetes Label" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description" %}:</h3>
    <p>{% trans "Assign a kubernetes label to the host." %}</p>
</div>
{% endblock %}

{% block modal-footer %}
  <a class="btn btn-default cancel" data-dismiss="modal">Cancel</a>
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Assign Kubernetes Label" %}" />
{% endblock %}
