{% extends 'base.html' %}
{% load i18n breadcrumb_nav %}
{% block title %}{% trans "Customer Log Details" %}{% endblock %}

{% block main %}
{% if log.event_log_id == '' or log.event_log_id == ' ' %}
    <h3> {{log.reason_text }} </h3>
{% else %}
    <h3> {{log.event_log_id }} - {{log.reason_text }} </h3>
{% endif %}

<div class="row">
  <div class="col-sm-12">
	<div class="info row-fluid detail">
	  <h4>{% trans "Info" %}</h4>
	  <hr class="header_rule">
	  <dl>
		<dt>{% trans "Log UUID" %}</dt>
		<dd>{{ log.uuid }}</dd>
		{% if log.event_log_id != '' and log.event_log_id != ' ' %}
			<dt>{% trans "Log ID" %}</dt>
			<dd>{{ log.event_log_id }}</dd>
		{% endif %}
		<dt>{% trans "Severity" %}</dt>
		<dd>{{ log.severity }}</dd>
		<dt>{% trans "Log Type" %}</dt>
		<dd>{{ log.event_log_type }}</dd>
		<dt>{% trans "Timestamp" %}</dt>
		<dd>{{ log.timestamp|parse_isotime }}</dd>
	   </dl>
	   <dl>
		<dt>{% trans "Entity Instance ID" %}</dt>
		<dd>{{ log.entity_instance_id }}</dd>
		{% if log.entity_type_id != '' and log.entity_type_id != ' ' %}
			<dt>{% trans "Entity Type ID" %}</dt>
			<dd>{{ log.entity_type_id }}</dd>
		{% endif %}
		<dt>{% trans "Probable Cause" %}</dt>
		<dd>{{ log.probable_cause }}</dd>
		<dt>{% trans "Service Affecting" %}</dt>
		<dd>{{ log.service_affecting }}</dd>
		{% if log.reason_text != '' and log.reason_text != ' ' %}
			<dt>{% trans "Reason" %}</dt>
			<dd>{{ log.reason_text }}</dd>
		{% endif %}
	  </dl>
	</div>
  </div>
</div>
{% endblock %}
