{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Fault Management" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Fault Management")%}
{% endblock page_header %}

{% block main %}
<div class="row">
  <div class="col-sm-12">
    {{ tab_group.render }}
  </div>
</div>
{% endblock %}


{% block js %}
  {{ block.super }}
  <script type="text/javascript" charset="utf-8">
	horizon.refresh.addRefreshFunction(function (html) {
        var $old_stats = $('#active-alarm-stats');
        var $new_stats = $(html).find('#active-alarm-stats');
        if ($new_stats.html() != $old_stats.html()) {
            $old_stats.replaceWith($new_stats);
        }
	});
  </script>
{% endblock %}
