{% extends 'base.html' %}
{% load i18n breadcrumb_nav %}
{% block title %}{% trans "Stage Details" %}{% endblock %}

{% block main %}
<h3> Stage {{ stage.stage_id }} of {{ stage.phase.phase_name|title }} Phase </h3>

<div class="row-fluid">
  <div class="col-sm-12">
	<div class="info row-fluid detail">
	  <h4>{% trans "Info" %}</h4>
	  <hr class="header_rule">
      <div id="stage-details">
	   <dl class="dl-horizontal">
		<dt>Stage ID</dt>
        <dd>{{ stage.stage_id }}</dd>
		<dt>Stage Name</dt>
        <dd>{{ stage.stage_name }}</dd>
		<dt>Total Steps</dt>
        <dd>{{ stage.total_steps }}</dd>
		<dt>Current Step</dt>
        <dd>{{ stage.current_step }}</dd>
		<dt>Timeout</dt>
        <dd>{{ stage.timeout_display }}</dd>
		<dt>Start Date/Time</dt>
        <dd>{{ stage.start_date_time }}</dd>
		<dt>End Date/Time</dt>
        <dd>{{ stage.end_date_time }}</dd>
		<dt>Status</dt>
        {% if stage.inprogress %}
        <dd>{% trans "In Progress" %}</dd>
        {% else %}
        <dd>{{ stage.result }}</dd>
        {% endif %}
		<dt>Reason</dt>
        <dd>{{ stage.reason }}</dd>
	   </dl>
      </div>

      {{ steps_table.render }}
	</div>
  </div>
</div>
{% endblock %}
