{% load i18n sizeformat %}

{% block main %}

  <div class="info row-fluid detail">
    <h3>{% trans "Upgrade Strategy" %}</h3>
    <hr class="header_rule">
    <div id="upgrade-strategy-detail">

      {% if strategy %}
        <dl class="dl-horizontal-wide">
          <dt>{% trans "Storage Apply Type" %}</dt>
          <dd>{{ strategy.storage_apply_type }}</dd>
          <dt>{% trans "Worker Apply Type" %}</dt>
          <dd>{{ strategy.worker_apply_type }}</dd>
          {% if strategy.worker_apply_type == "parallel" %}
          <dt>{% trans "Maximum Parallel Worker Hosts" %}</dt>
          <dd>{{ strategy.max_parallel_worker_hosts }}</dd>
          {% endif %}
          <dt>{% trans "Alarm Restrictions" %}</dt>
          <dd>{{ strategy.alarm_restrictions }}</dd>
        </dl>
        <dl class="dl-horizontal-wide">
          <dt>{% trans "Current Phase" %}</dt>
          <dd>{{ strategy.current_phase }}</dd>
          <dt>{% trans "Current Phase Completion" %}</dt>
          <dd>{{ strategy.current_phase_completion_percentage }}%</dd>
          <dt>{% trans "State" %}</dt>
          <dd>{{ strategy.state }}</dd>
        </dl>
      {% else %}
        {% trans "No Strategy has been created" %}
      {% endif %}
    </div>
  </div>
  <br/>
  {{ upgradestages_table.render }}

{% endblock %}
