<table ng-controller="dcOverviewCloudTableController as table"
  hz-table ng-cloak
  st-table="table.isubClouds"
  st-safe-src="table.subClouds"
  class="table table-striped table-rsp table-detail">

  <thead>
    <tr>
      <th colspan="100" class="search-header">
        <hz-search-bar icon-classes="fa-search">

          <div class="btn-addon">
            <action-list class="btn-addon btn-group">
              <button type="button" class="btn btn-default" ng-click="table.addSubcloud()">
                <span class="fa fa-plus"></span>
                <translate>Add Subcloud</translate>
              </button>
            </action-list>
          </div>

        </hz-search-bar>
      </th>
    </tr>

    <!--
      Table-column-headers:
      This is where we declaratively define the table column headers.
      Include select-col if you want to select all.
      Include expander if you want to inline details.
      Include action-col if you want to perform actions.
    -->
    <tr>
      <th class="expander"></th>
      <th class="rsp-p1" st-sort="name" st-sort-default="name" translate>Cloud Name</th>
      <th class="rsp-p1" st-sort="management_state" translate>Management State</th>
      <th class="rsp-p1" st-sort="availability_status" translate>Availability Status</th>
      <th class="rsp-p1" st-sort="status" translate>Alarm Status</th>
      <th class="rsp-p1" st-sort="sync_status" translate>Sync Status</th>
      <th class="rsp-p2" st-sort="location" translate>Location</th>
      <th class="actions_column" translate>Actions</th>
    </tr>
  </thead>

  <tbody>
    <!--
      Table-rows:
      This is where we declaratively define the table columns.
      Include select-col if you want to select all.
      Include expander if you want to inline details.
      Include action-col if you want to perform actions.
      rsp-p1 rsp-p2 are responsive priority as user resizes window.
    -->
    <tr ng-repeat-start="cloud in table.isubClouds track by cloud.subcloud_id">
      <td class="expander">
        <span class="fa fa-chevron-right" hz-expand-detail duration="200"></span>
      </td>
      <td class="rsp-p1">{$ cloud.name $}</td>
      <td class="rsp-p1">{$ cloud.management_state $}</td>
      <td class="rsp-p1">
        <span ng-show="cloud.availability_status==='online'" class="fa fa-circle status-success"></span>
        <span ng-show="cloud.availability_status==='offline'" class="fa fa-circle status-danger"></span>
        {$ cloud.availability_status $}</td>
      <td class="rsp-p1">
        <span ng-show="cloud.status==='critical' || cloud.status==='disabled'" class="fa fa-circle status-danger"></span>
        <span ng-show="cloud.status==='degraded'" class="fa fa-circle status-warning"></span>
        <span ng-show="cloud.status=='OK'" class="fa fa-circle status-success"></span>
        {$ cloud.status $}
      </td>
      <td class="rsp-p1">
        <span ng-show="cloud.sync_status==='out-of-sync'" class="fa fa-circle status-danger"></span>
        <span ng-show="cloud.sync_status==='unknown'" class="fa fa-circle status-warning"></span>
        <span ng-show="cloud.sync_status=='in-sync'" class="fa fa-circle status-success"></span>
        {$ cloud.sync_status $}</td>
      <td class="rsp-p2">{$ cloud.location | noValue $}</td>
      <td class="action-col">

        <action-list uib-dropdown dropdown="true" class="dropdown btn-group">

          <button type="button" class="split-button btn btn-default"
            ng-click="table.goToAlarmDetails(cloud)">
            Alarm & Event Details
          </button>
          <button class="split-caret dropdown-toggle btn btn-default"  uib-dropdown-toggle aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-caret-down"></span>
            <span class="sr-only" translate>Toggle Dropdown</span>
          </button>

          <ul role="menu" class="dropdown-menu dropdown-menu-right">

            <li>
              <a role="menuitem" href="#" ng-click="table.goToHostDetails(cloud)">
                Hosts Detail
              </a>
            </li>

            <li ng-if="cloud.management_state==='unmanaged'">
              <a  role="menuitem" href="#" ng-click="table.manage(cloud)">
               Manage Subcloud
              </a>
            </li>

            <li ng-if="cloud.management_state==='managed'">
              <a  role="menuitem" href="#" ng-click="table.unmanageSubcloud(cloud)">
               Unmanage Subcloud
              </a>
            </li>

            <li>
              <a role="menuitem" href="#" ng-click="table.editSubcloud(cloud)">
               Edit Subcloud
              </a>
            </li>

            <li>
              <a role="menuitem" href="#" ng-click="table.generateConfig(cloud)">
               Generate Subcloud Config File
              </a>
            </li>

            <li>
              <a class="text-danger"  role="menuitem" href="#" ng-click="table.deleteSubcloud(cloud)">
               <span class="fa fa-trash"></span>&nbsp;Delete
              </a>
            </li>

          </ul>

        </action-list>
      </td>
    </tr>


    <!--
      Detail-row:
      Contains detailed information on this item.
      Can be toggled using the chevron button.
      Ensure colspan is greater or equal to number of column-headers.
    -->
    <tr ng-repeat-end class="detail-row">
      <td class="detail" colspan="100">
        <!--
          The responsive columns that disappear typically should reappear here
          with the same responsive priority that they disappear.
          E.g. table header with rsp-p2 should be here with rsp-alt-p2
          The layout should minimize vertical space to reduce scrolling.
        -->
        <div ng-show="cloud.description" class="row">
          <dl class="col-sm-12 dl-horizontal">
            <dt translate>Description</dt>
            <dd>{$ cloud.description | noValue $}</dd>
          </dl>
        </div>
        <div class="row">
          <dl class="col-sm-4">
            <dl class="dl-horizontal">
            <h4>Management Network</h4>
            <dt translate>Subnet</dt>
            <dd>{$ cloud.management_subnet $}</dd>
            <dt translate>Start IP</dt>
            <dd>{$ cloud.management_start_ip $}</dd>
            <dt translate>End IP</dt>
            <dd>{$ cloud.management_end_ip $}</dd>
            <dt translate>Gateway IP</dt>
            <dd>{$ cloud.management_gateway_ip $}</dd>
            </dl>
            <br/>
            <dt translate>SystemController Gateway IP</dt>
            <dd>{$ cloud.systemcontroller_gateway_ip $}</dd>
          </dl>

          <dl class="col-sm-4 dl-horizontal">
            <h4>Sync Status</h4>
            <dt ng-repeat-start="status in cloud.endpoint_sync_status | orderBy:'endpoint_type' " class="text-capitalize">{$ status.endpoint_type $}</dt>
            <dd ng-repeat-end>
              <span ng-show="status.sync_status==='out-of-sync'" class="fa fa-circle status-danger"></span>
              <span ng-show="status.sync_status==='in-sync'" class="fa fa-circle status-success"></span>
              <span ng-show="status.sync_status==='unknown'" class="fa fa-circle status-warning"></span>
              {$ status.sync_status $}
            </dd>

            <h4>Alarm Summary</h4>
            <div ng-show="cloud.status=='disabled'">
              <dd>N/A</dd>
            </div>
            <div ng-show="cloud.status!='disabled'">
              <dt translate>Critical</dt>
              <dd>
                <span ng-show="cloud.critical > 0" class="badge badge-danger">{$ cloud.critical $}</span>
                <span ng-hide="cloud.critical > 0" class="badge">{$ cloud.critical $}</span>
              </dd>
              <dt translate>Major</dt>
              <dd>
                <span ng-show="cloud.major > 0" class="badge badge-danger">{$ cloud.major $}</span>
                <span ng-hide="cloud.major > 0" class="badge">{$ cloud.major $}</span>
              </dd>
              <dt translate>Minor</dt>
              <dd>
                <span ng-show="cloud.minor > 0" class="badge badge-warning">{$ cloud.minor $}</span>
                <span ng-hide="cloud.minor > 0" class="badge">{$ cloud.minor $}</span>
              </dd>
              <dt translate>Warning</dt>
              <dd>
                <span ng-show="cloud.warnings > 0" class="badge badge-success">{$ cloud.warnings $}</span>
                <span ng-hide="cloud.warnings > 0" class="badge">{$ cloud.warnings $}</span>
              </dd>
            </div>
          </dl>

          <dl class="col-sm-4"><br />
            <dt translate>Software Version</dt>
            <dd>{$ cloud.software_version $}</dd>
            <dt translate>Created At</dt>
            <dd>{$ cloud.created_at $}</dd>
            <dt translate>Updated At</dt>
            <dd>{$ cloud.updated_at  | noValue $}</dd>
          </dl>
        </div>
      </td>
    </tr>

    <tr hz-no-items items="table.isubClouds"></tr>
  </tbody>

  <!--
    Table-footer:
    This is where we display number of items and pagination controls.
  -->
  <tfoot hz-table-footer items="table.isubClouds"></tfoot>

</table>
