{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}add_localvolumegroup_form{% endblock %}
{% block form_action %}{% url 'horizon:admin:inventory:addlocalvolumegroup' host_id %}{% endblock %}

{% block modal-header %}{% trans "Create Local Volume Group" %}{% endblock %}
{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description" %}:</h3>
    <p>{% trans "From here you can define the configuration of a new local volume group." %}</p>
</div>
{% endblock %}

{% block modal-footer %}
  <a class="btn btn-default cancel" data-dismiss="modal">Cancel</a>
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Create Local Volume Group" %}" />
{% endblock %}




