{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}add_memory_profile_form{% endblock %}
{% block form_action %}{% url 'horizon:admin:inventory:addmemoryprofile' host_id %}{% endblock %}

{% block modal-header %}{% trans "Create Memory Profile" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
    {% include "horizon/common/_form_fields.html" %}
    </fieldset>
    {{ "<br>With the following configuration:" }}
          <table class="{% block table_css_classes %}table table-bordered table-striped datatable {{ table.css_classes }}{% endblock %}">
            <tr>
              <th>{% trans "Numa Node" %}</th>
              <th>{% trans "Platform Reserved" %}</th>
              <th>{% trans "Application Hugepages" %}</th>
              <th>{% trans "vSwitch Hugepages" %}</th>
            </tr>
            {% for node,m in host.numa_nodes %}
                <tr>
                  <td>{{ node }}</td>
                  <td>{{ m.platform_reserved_mib }} {% trans " MiB " %}</td>
                  <td>
                      {% trans " 2M Pages: " %} {{ m.vm_hugepages_nr_2M }} {{ "<br>" }}
                      {% trans " 1G Pages: " %} {{ m.vm_hugepages_nr_1G }} {{ "<br>" }}
                  </td>
                  <td>
                      {% trans " Size (MB): " %} {{ m.vswitch_hugepages_size_mib }} {{ "<br>" }}
                      {% trans " Pages: " %} {{ m.vswitch_hugepages_nr }} {{ "<br>" }}
                  </td>
                </tr>
            {% endfor %}
          </table>
    {{ "<br>" }}
</div>
<div class="right">
    <h3>{% trans "Description" %}:</h3>
    <p>{% trans "Create a new Memory Profile based on the platform memory and the hugepage assignments on this host." %}</p>
</div>
{% endblock %}

{% block modal-footer %}
  <a class="btn btn-default cancel" data-dismiss="modal">Cancel</a>
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Create Memory Profile" %}" />
{% endblock %}
