{% load i18n sizeformat %}

{% block main %}
  <div id="patches">
    <div id="patching-status" class="info details">
        <span>
            {% if patch_current %}
                <span class="badge badge-success">{% trans "System is Patch Current" %}</span>
            {% else %}
                <span class="badge badge-warning">{% trans "System is Not Patch Current" %}</span>
            {% endif %}
        </span>
    </div>

    {{ patches_table.render }}
  </div>
{% endblock %}



