{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block form_id %}create_provider_network_range_form{% endblock %}
{% block form_action %}{% url 'horizon:admin:datanets:datanets:createrange' providernet_id %}
{% endblock %}

{% block modal-header %}{% trans "Create Segmentation Range" %}{% endblock %}

{% block modal-body %}
<div class="left">
    <fieldset>
        {% include "horizon/common/_form_fields.html" %}
    </fieldset>
</div>
<div class="right">
    <h3>{% trans "Description" %}:</h3>
    <p>{% trans "You can create a segmentation range for the provider network.  The range must not overlap with any other segmentation range."%}</p>
</div>
{% endblock %}

{% block modal-footer %}
  <a class="btn btn-default cancel" data-dismiss="modal">{% trans "Cancel" %} </a>
  <input class="btn btn-primary pull-right" type="submit" value="{% trans "Create Segmentation Range" %}"/>
{% endblock %}
