{% load i18n sizeformat %}

{% block main %}

  <div class="info row-fluid detail">
    <h3>{% trans "Patch Strategy" %}</h3>
    <hr class="header_rule">
    <div id="patch-strategy-detail">

      {% if strategy %}
        <dl class="dl-horizontal-wide">
          <dt>{% trans "Controller Apply Type" %}</dt>
          <dd>{{ strategy.controller_apply_type }}</dd>
          <dt>{% trans "Storage Apply Type" %}</dt>
          <dd>{{ strategy.storage_apply_type }}</dd>
          <dt>{% trans "Compute Apply Type" %}</dt>
          <dd>{{ strategy.compute_apply_type }}</dd>
          {% if strategy.compute_apply_type == "parallel" %}
          <dt>{% trans "Maximum Parallel Compute Hosts" %}</dt>
          <dd>{{ strategy.max_parallel_compute_hosts }}</dd>
          {% endif %}
          <dt>{% trans "Default Instance Action" %}</dt>
          <dd>{{ strategy.default_instance_action }}</dd>
          <dt>{% trans "Alarm Restrictions" %}</dt>
          <dd>{{ strategy.alarm_restrictions }}</dd>
        </dl>
        <dl class="dl-horizontal-wide">
          <dt>{% trans "Current Phase" %}</dt>
          <dd>{{ strategy.current_phase }}</dd>
          <dt>{% trans "Current Phase Completion" %}</dt>
          <dd>{{ strategy.current_phase_completion_percentage }}%</dd>
          <dt>{% trans "State" %}</dt>
          <dd>{{ strategy.state }}</dd>
        </dl>
      {% else %}
        {% trans "No Strategy has been created" %}
      {% endif %}
    </div>
  </div>
  <br/>
  {{ patchstages_table.render }}

{% endblock %}
