{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Software Management" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Software Management") %}
{% endblock page_header %}

{% block main %}
<div class="row-fluid">
  <div class="col-sm-12">
  {{ tab_group.render }}
  </div>
</div>
{% endblock %}

{% block js %}
  {{ block.super }}
  <script type="text/javascript" charset="utf-8">
	horizon.refresh.addRefreshFunction(function (html) {
        var $old_strategy = $('#patch-strategy-detail');
        var $new_strategy = $(html).find('#patch-strategy-detail');
        if ($new_strategy.html() != $old_strategy.html()) {
            $old_strategy.replaceWith($new_strategy);
        }
	});

	horizon.refresh.addRefreshFunction(function (html) {
        var $old_strategy = $('#upgrade-strategy-detail');
        var $new_strategy = $(html).find('#upgrade-strategy-detail');
        if ($new_strategy.html() != $old_strategy.html()) {
            $old_strategy.replaceWith($new_strategy);
        }
	});

	horizon.refresh.addRefreshFunction(function (html) {
        var $old_status = $('#patching-status');
        var $new_status = $(html).find('#patching-status');
        if ($new_status.html() != $old_status.html()) {
            $old_status.replaceWith($new_status);
        }
	});

  </script>
{% endblock %}
